.dashboard-page-wrapper.tab-pane {
    padding-top: 3px;
}

.navbar-nav{
  padding-top: 5px;
  padding-bottom: 5px;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.shiny-html-output.shiny-bound.output {
  padding-top: 30px;
  overflow-y: scroll;
}
